<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="API_FASK" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Vcast-Server\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\Vcast-Server\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            
        </handlers>
        <defaultDocument>
            <files>
                <add value="app.exe" />
            </files>
        </defaultDocument>
    </system.webServer>
    <appSettings file="">
        <add key="PYTHONPATH" value="‪C:\inetpub\wwwroot\API_WEB_DATA" />
        <add key="WSGI_HANDLER" value="app.app" />
    </appSettings>
</configuration>